.container {
    width: 1366px;
    height: 768px;
    background: #000 url(background.jpg);
    background-size: contain;
    font-family: Roboto;
}
.gallery-item {
    margin-right: 61px;
}
.top img {
    width: 53px;
    height: 47px;
}
.top {
    float: left;
    margin-top: 51px;
    margin-left: 161px;
}
.top-text a {
    text-decoration: none;
    color: white;
}
.top-text {
    float: left;
    margin-top: 51px;
    margin-left: 8px;
}
.logo:hover .top-text a {
    color: #F26522;
}
.top {
    background: url(logo3.png);
    background-size: 100%;
    width: 53px;
    height: 47px;
}
.logo:hover .top {
    background: url(logo2.png);
    background-size: 100%;
    width: 53px;
    height: 47px;
}
.text-topm a {
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    text-transform: uppercase;
}
.text-topm {
    margin-bottom: 3px;
}
.text-toph a {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.contact {
    float: right;
    margin-top: 46px;
    margin-right: 177px;
}
.contact p {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.text-contactsp {
    float: right;
    margin-top: 19px;
}
.gallery {
    float: left;
    overflow: hidden;
    margin-top: 22px;
}

.gallery .text-link a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
}
.img-line {
    margin-left: 165px;
}
.text-link {
    margin-top: 21px;
}
img {
    width: 300px;
    height: 220px;
}
.gallery-item {
    font-size: 18px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-bottom: 37px;
}
.gallery-item {
    position: relative;
    display: inline-block;
}
.dropup-content {
    display: none;
    position: absolute;
    background-color: #F26522;
    width: 260px;
    z-index: 1;
}
.gallery-item:hover .dropup-content {
    display: block;
    top: 182px;
    width: 100%;
}
.footer {
    float: left;
    margin-left: 530px;
    margin-top: 12px;
}
.footer p {
    font-size: 12px;
    color: white;
}
.contact p:hover {
    color: #F26522;
    cursor: pointer;
}
.text-from {
    text-align: left;
    font-size: 10px;
    margin-top: 7px;
    margin-left: 16px;
}
.price {
    text-align: left;
    float: left;
    font-size: 20px;
    margin-top: 8px;
    margin-left: 16px;
}
.detailes {
    float: right;
    font-size: 14px;
    text-decoration: none;
    color: white;
    margin-bottom: 12px;
    margin-right: 16px;
}
.text-link a:hover {
    color: #F26522;
}
.picture img {
    background: #eee;
    border: 3px solid transparent;
    border-image: linear-gradient(#995d1e, #d9b7ac);
    -moz-border-image: -moz-linear-gradient(#995d1e , #d9b7ac);
    -webkit-border-image: -webkit-linear-gradient(#995d1e , #d9b7ac);
    border-image-slice: 1;
}